.goal{
  width: 100%;
  height: calc(100vh - 150px);
  display: flex;
  justify-content: center;
}

.goal .calendar_wrap{
  width: 32%;
  margin: 2%;
  position: relative;
  box-shadow: 8px 10px 16px #afafaf;
}
.goal .calendar_wrap > img{
  width: 100%;
  height: 100%;
}

.goal .calendar_wrap .calendar{
  width: 82%;
  text-align: center;
  margin-top: 20px;
  border-collapse: collapse;
  border: none;
  position: absolute;
  top: 22.5%;
  left: 8%;
}

.goal .calendar_wrap .calendar > tbody > tr > td{
  width: 3vw;
  height: 3.3vh;
  font-size: 15px;
  padding: 0;
}
.goal .calendar_wrap .calendar > tbody > tr > td > img{
  width: 100%;
  height: 100%;
}

.goal .goal_wrap{
  width: 45%;
  padding: 2%;
  margin: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.goal .goal_wrap .goal_btn{
  width: 70%;
  height: 100px;
  font-size: 40px;
  border-radius: 4px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
.goal .goal_wrap .goal_btn:hover{
  color: #000;
  background-color: rgb(190, 231, 238);
}
.goal .goal_wrap .goal_btn:active{
  color: #000;
  background-color: rgb(243, 171, 89);
}

.view_plan_wrap{
  display: none;
  width: 80%;
  border: 1px solid #000000;
  padding: 5%;
  box-shadow: 8px 10px 16px #afafaf;
}

.view_plan_wrap .view_plan_title_wrap{
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #000000;
}

.view_plan_wrap .view_plan_title_wrap .plan_title{
  font-size: 24px;
  font-weight: 600;
  border-bottom: 2px solid black;
  margin-bottom: 20px;
}
.view_plan_wrap .view_plan_title_wrap .view_plan_title{
  font-size: 40px;
  font-weight: 800;
}

.view_plan_wrap .plan_detail_wrap{
  text-align: left;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #000000;
}

.view_plan_wrap .plan_detail_wrap .plan_detail{
  display: flex;
  align-items: center;
  /* height: 30px; */
  margin-bottom: 10px;
}
.view_plan_wrap .plan_detail_wrap .plan_detail > input{
  width: 20px;
  /* height: 20px; */
  margin-right: 10px;
}
.view_plan_wrap .plan_detail_wrap .plan_detail > span{
  width: 90%;
  font-size: 20px;
  /* height: 30px; */
  line-height: 30px;
}

.view_plan_wrap .completed_wrap{
  width: 100%;
  height: 30px;
}

.view_plan_wrap .completed_wrap .completed_btn{
  width: 150px;
  height: 50px;
  float: left;
  font-size: 20px;
  border-radius: 4px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
.view_plan_wrap .completed_wrap .completed_btn:hover{
  color: #000;
  background-color: rgb(190, 231, 238);
}
.view_plan_wrap .completed_wrap .completed_btn:active{
  color: #000;
  background-color: rgb(243, 171, 89);
}

.view_plan_wrap .completed_wrap .completed_rate{
  float: right;
  line-height: 50px;
  font-size: 20px;
}