*{
  box-sizing: border-box;
}
.change_pw_container{
  overflow: hidden;
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.change_pw_height{
  border: 2px solid;
  height: auto;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 8px 10px 16px #afafaf;
  background-color: #fff;
  
}
.change_pw_wrap{
  width: 100%;
  height: 100%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.change_name{
  position: relative;
  width: 90%;
  margin-bottom: 30px;
  padding: 10px;
}
.change_name > p {
  font-size: 24px;
  font-weight: 600;
  border-bottom: 2px solid black;
}
.userId_value{
  display: flex;
  width: 80%;
  margin-bottom: 8px ;
}
.userId_value label{
  display: inline-block;
  width: 8em;
  font-size: 16px;
  font-weight: 500;
}
.userId_value .id{
  font-size: 16px;
  font-weight: 500;
}


.input_wrap{
  width: 80%;
  margin-bottom: 8px ;
}
.input_wrap label{
  display: inline-block;
  width: 8em;
  font-size: 16px;
  font-weight: 500;
}




.change_pw_input{
  width: 300px;
  font-family: sans-serif;
  font-size: 16px;
  margin-top: 24px;
  size: 18px;
}
.change_pw_input:focus{
  background-color:  rgb(190, 231, 238);
}
.cloud1_wrap{
  position: relative;
  top: 230px;
  left: -130px;  
  z-index: -1;
}
.middlecloud_wrap{
  position: relative;
  top: -245px;
  left: 110px;  
  z-index: -1;
}
.cloud {
  width: 250px;
  height: 250px;
}
.middlecloud{
  width: 300px;
  height: 300px;
}
.change_btn_wrap{
  margin-top: 20px;
}
.change_btn{
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
}
.change_btn:hover{
  color: #000;
  background-color: rgb(190, 231, 238);
}
.change_btn:active{
  color: #000;
  background-color: rgb(243, 171, 89);
}