* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.modalWrapper{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.modalBg{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0,0,0,0.3);
}
.modalBox{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  min-height: 30%;
  width: 40%;
  background-color: white;
  box-shadow: 0,0,10px rgba(0,0,0,0.25);
  z-index: 100;
}
.sign_in_wrap{
	width: 100%;
	height: calc(100vh - 100px);
	display: flex;
	justify-content: center;
	align-items: center;
}

.sign_in_container{
	width: 100%;
	padding: 0 4vw;
}

.sign_in_name{
	font-size: 30px;
	font-weight: 700;
}

.input_container_wrap{
	margin-top: 50px;
}

.input_container{
	margin-top: 20px;
}

.input_container > span{
	display: inline-block;
	width: 100%;
	font-size: 20px;
	margin-bottom: 10px;
}

.input_container > input{
	width: 100%;
	height: 50px;
	font-size: 20px;
}

.remember_id{
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
.remember_id > input{
  width: 20px;
  height: 20px;
}
.remember_id > input > p{
  display: inline-block;
  margin-left: 10px;
  font-size: 15px;
}

.login_message{
	width: 100%;
	margin-top: 5px;
}
.login_message > p{
	width: 100%;
	font-size: 20px;
	color: red;
}

.sign_in_btn{
	margin-top: 30px;
	width: 100%;
	height: 50px;
	font-size: 20px;
}

