.sign_in_wrap{
	width: 100%;
	height: calc(100vh - 100px);
	display: flex;
	justify-content: center;
	align-items: center;
}

.sign_in_container{
	width: 100%;
	padding: 0 4vw;
}

.sign_in_name{
	font-size: 30px;
	font-weight: 700;
}

.input_container_wrap{
	margin-top: 50px;
}

.input_container{
	margin-top: 20px;
}

.input_container > span{
	display: inline-block;
	width: 100%;
	font-size: 20px;
	margin-bottom: 10px;
}

.input_container .sign_in_idInput{
	width: 100%;
	height: 50px;
	font-size: 20px;
}
.input_container .sign_in_pwInput{
	width: 100%;
	height: 50px;
	font-size: 20px;
}

.remember_id{
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
.remember_id > input{
  width: 20px;
  height: 20px;
}
.remember_id > input > p{
  display: inline-block;
  margin-left: 10px;
  font-size: 15px;
}

.login_message{
	width: 100%;
	margin-top: 5px;
}
.login_message > p{
	width: 100%;
	font-size: 20px;
	color: red;
}

.sign_in_btn_wrap{
	margin-top: 30px;
  width: 100%;
  text-align: center;
}
/* .sign_in_btn_wrap > button:nth-child(0){
	margin-right: 0
} */
.sign_in_btn_wrap .sign_in_btn{
	width: 45%;
	height: 50px;
  font-size: 20px;
  margin-right: 10%;
}
.sign_in_btn_wrap .sign_in_btn:nth-child(2){
	margin-right: 0
}

.sign_in_btn_wrap .google{
	width: 100%;
	height: 50px;
  margin-top: 20px;
}
.sign_in_btn_wrap .google > span{
  width: calc(100% - 90px);
  text-align: center;
	font-size: 20px;
}
.sign_in_btn_wrap .kakao{
  margin-top: 10px;
}
.sign_in_btn_wrap .naver{
	width: 100%;
	height: 50px;
  margin-top: 10px;
  text-align: center;
}
.sign_in_btn_wrap .naver img{
  /* width: auto;
  height: auto;
  max-width: 100%;
  max-height: 50px; */
  width: 100%;
	height: 100%;
}


