* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.modalWrapper{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.modalBg{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0,0,0,0.3);
}
.sign_in_modalBox{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 50%;
  height: 55%;
  width: 30%;
  background-color: white;
  border-radius: 10px;
  z-index: 100;
}
.sign_in_wrap{
  margin: auto;
  width: 100%;
  padding: 5%;
 	display: flex;
	justify-content: center;
	align-items: center;
}

.sign_in_container{
	width: 90%;
  padding: 1vw;

}

.sign_in_name{
	font-size: 24px;
  font-weight: 600;
  border-bottom: 2px solid black;
}

.input_container_wrap{
	margin-top: 5px;
}

.input_container{
	margin-top: 20px;
}

.input_name > span{
	display: inline;
	width: 100%;
	font-size: 16px;
	margin-bottom: 10px;
}

.input_container > input{
	width: 90%;
	height: 38px;
  font-size: 16px;
}
.input_container > input:focus{
  background-color: rgb(190, 231, 238);
}

.remember_id{
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
.remember_id > input{
  width: 20px;
  height: 20px;
}
.remember_id > input > p{
  display: inline-block;
  margin-left: 10px;
  font-size: 15px;
}

.login_message{
	width: 100%;
	margin-top: 5px;
}
.login_message > p{
	width: 100%;
	font-size: 20px;
	color: red;
}
.btn_wrap{
  text-align: center;
}
.btn{
  margin-top: 24px;
	width: 80%;
	height: 45px;
  font-size: 16px;
  border-radius: 10px;
}
.btn:hover {
  cursor: pointer;
	background-color: #000;
	color: #fff
}
.btn:active {
  background-color: rgb(243, 171, 89);
	color: #000
}

.oauth_btn{
  margin-top: 10px;
  border-radius: 10px;
}
.oauth_btn:hover{
  border: 2px solid #000;
}
