.wrap{
  width: 100%;
}

.main1{
  width: 100%;
  height: calc(100vh - 150px);
  display: flex;
  align-items: center;      /* cross-axis 정렬 */
  justify-content: center;  /* main-axis 정렬, default는 가로 */
}
/* 배경만 투명 */
.main1::after{
  width: 100%;
  height: calc(100vh - 150px);
  content: "";
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../../img/bg.jpeg");
  background-size: cover;
  z-index: -1;
}

.main1 > p{
  width: 70%;
  font-size: 30px;
  padding: 0 20px;
}
.main1 .btn_wrap{
  width: 30%;
  text-align: center;
}
.main1 .btn_wrap button{
  width: 70%;
  height: 100px;
  text-align: center;
  background: none;
  border-radius: 10px;
  cursor: pointer;
}
.main1 .btn_wrap .btn > img{
  width: 30%;
  height: 100%;
}
.main1 .btn_wrap .btn > div{
  display: inline-block;
  width: 70%;
  height: 100%;
  vertical-align: top;
}
.main1 .btn_wrap .btn > div > span{
  line-height: 100px;
  font-size: 20px;
}
.main1 .btn_wrap .guest_btn{
  margin-bottom: 20px;
}

.main2{
  width: 100%;
  height: 50vh;
  padding: 20px;
  display: flex;
  align-items: center;      /* cross-axis 정렬 */
  justify-content: center;  /* main-axis 정렬, default는 가로 */
  background-color: #f3e9df;
  /* #e6d0cf #cfc1b8 */
}
.main2 .left{
  width: 30%;
  height: 100%;
}
.main2 .left > img{
  width: 100%;
  height: 100%;
}
.main2 .right{
  width: 50%;
}
.main2 .right > p{
  width: 100%;
  font-size: 30px;
}