.signContainer{
    margin: auto;
    border: 1px solid unset;
    
    padding: 25px;
    width: 600px;
}
.signUp_main{
    
    font-size: 18px;
    font-family: sans-serif;
    padding: 20px;
}
.ckBtn{
    margin-left: 15px;
}
    