
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.modalWrapper{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.modalBg{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	background-color: rgba(0,0,0,0.3);
}
.sign_up_modalBox{
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	min-height: 30%;
	height: 50%;
	width: 30%;
	background-color: white;
	border-radius: 10px;
	z-index: 100;
}
.sign_up_wrap{
  margin: auto;
  width: 100%;
  padding: 5%;
 	display: flex;
	justify-content: center;
	align-items: center;
}
.sign_up_container{
	width: 90%;
  padding: 1vw;

}
.sign_up_name{
	font-size: 24px;
	font-weight: 600;
  border-bottom: 2px solid black;
}
.input_container_wrap{
	margin-top: 5px;
}
.sign_up_input_container{
	margin-top: 20px;
}
.sign_up_idInput_container{
	margin-top: 20px;
}
.sign_up_input_container > span{
	display: block;
	width: 100%;
	font-size: 16px;
	margin-bottom: 16px;
}
.sign_up_idInput_container > span{
	display: block;
	width: 100%;
	font-size: 16px;
	margin-bottom: 16px;
}

.sign_up_idInput{
	width: 75%;
	height: 38px;
	font-size: 16px;
	margin-right: 20px;
	border: 2px solid #f0f0f0;
}
.sign_up_idInput_container > input:focus{
	background-color: rgb(190, 231, 238);
}
.sign_up_pwInput{
	width: 88%;
	height: 38px;
	font-size: 16px;
	border: 2px solid #f0f0f0;
}
.sign_up_input_container > input:focus{
  background-color: rgb(190, 231, 238);
}

.successPwInput{
	width: 88%;
	height: 38px;
	font-size: 16px;
	border-color: #2ecc71;
}
.falsePwInput{
	width: 88%;
	height: 38px;
	font-size: 16px;
	border-color: #e74c3c;
}
.successInput{
	width: 75%;
	height: 38px;
	font-size: 16px;
	margin-right: 20px;
	border-color: #2ecc71;
}
.falseInput{
	width: 75%;
	height: 38px;
	font-size: 16px;
	margin-right: 20px;
	border-color: #e74c3c;
}

.idCheck_btn{
	height: 40px;
	width: 58px;
	font-size: 12px;
	border-radius: 10px;
}
.idCheck_btn:hover{
	cursor: pointer;
	background-color: #000;
	color: #fff
}
.idCheck_btn:active{
	background-color: rgb(243, 171, 89);
	color: #000
}

.sign_up_btn{
	height: 45px;
	width: 50%;
	font-size: 20px;
	margin-top: 25px;
	border-radius: 10px;
}
.sign_up_btn:hover{
	cursor: pointer;
	background-color: #000;
	color: #fff
}
.sign_up_btn:active{
	background-color: rgb(243, 171, 89);
	color: #000
}
.none_checkMsg{
	visibility: hidden;
	font-size: 14px;
}
.successMsg{
	visibility: visible;
	font-size: 14px;
	color: #2ecc71;
}
.falseMsg{
	visibility: visible;
	font-size: 14px;
	color: #e74c3c;
}