.sign_up_wrap{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sign_up_container{
	width: 100%;
	padding: 0 15vw;
}

.sign_up_name{
	font-size: 30px;
	font-weight: 700;
}

.input_container_wrap{
	margin-top: 50px;
}

/* .input_container{
	display: flex;
	align-items: center;
} */
.input_container{
	margin-top: 20px;
}

/* .input_container > span{
	display: inline-block;
	width: 20%;
	height: 50px;
	font-size: 20px;
	line-height: 50px;
} */
.input_container > span{
	display: inline-block;
	width: 100%;
	font-size: 20px;
	margin-bottom: 10px;
}

/* .input_container > input{
	width: 30%;
	height: 30px;
} */
.input_container .input_btn_wrap{
	width: 100%;
	height: 50px;
}
.input_container .input_btn_wrap > input{
	width: 70%;
	height: 100%;
	float: left;
}
.input_container > input{
	width: 70%;
	height: 50px;
}

/* .input_container .checkMsg{
	width: 30%;
	margin-left: 5%;
	font-size: 15px;
	color: red;
} */
.input_container .checkMsg{
	width: 100%;
	font-size: 15px;
	color: red;
	margin-top: 5px;
}

/* .input_container .idCheck_btn{
	width: 10%;
	height: 30px;
	margin-left: 5%;
	font-size: 15px;
} */
.input_container .input_btn_wrap .idCheck_btn{
	width: 20%;
	height: 100%;
	margin-left: 10%;
	font-size: 15px;
}

.sign_up_btn{
	margin-top: 30px;
	width: 100%;
	height: 50px;
	font-size: 20px;
}

