.modalWrapper{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.modalBg{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0,0,0,0.3);
}
.modalBox{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 50%;
  /* height: 55%; */
  width: 35%;
  background-color: white;
  border-radius: 10px;
  z-index: 100;
}

.input_plan_wrap{
  width: 100%;
  height: 50vh;
  padding: 4vh 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input_plan_wrap .plan_title_wrap{
  text-align: center;
  margin-bottom: 20px;
}
.input_plan_wrap .plan_title_wrap > p{
  font-size: 20px;
  margin-bottom: 20px;
}
.input_plan_wrap .plan_title_wrap > input{
  height: 50px;
  font-size: 30px;
  text-align: center;
}

.input_plan_wrap .plan_detail_wrap{
  width: 100%;
  margin-top: 10px;
  text-align: center;
}
.input_plan_wrap .plan_detail_wrap > span{
  width: 28%;
  margin-right: 2%;
  font-size: 15px;
}
.input_plan_wrap .plan_detail_wrap > input{
  width: 70%;
  height: 30px;
  font-size: 20px;
  padding-left: 2%;
}

.input_plan_wrap .plan_btn{
  margin-top: 50px;
  width: 150px;
  height: 40px;
  font-size: 20px;
}