* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.modalWrapper{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.modalBg{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(0,0,0,0.3);
}
.modalBox{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-height: 30%;
    width: 40%;
    background-color: white;
    box-shadow: 0,0,10px rgba(0,0,0,0.25);
    z-index: 100;
}

.logout_modal_wrap{
  width: 100%;
  /* height: 50vh; */
	display: flex;
	flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.logout_modal_wrap .logout_modal_content{
  width: 100%;
  text-align: center;
  padding: 0 4vw;
}
.logout_modal_wrap .ok{
	width: 40px;
	height: 40px;
	font-size: 30px;
	margin: 20px 20px 0 0;
}
.logout_modal_wrap .margin{
	width: 100%;
	height: 50px;
}
.logout_modal_wrap .logout_modal_content > p{
  font-size: 30px;
}
.logout_modal_wrap .logout_modal_content > p > span{
  font-size: 50px;
  color: brown;
}
.logout_modal_wrap .logout_modal_content .logoutModalBtn{
  width: 100px;
  margin-top: 30px;
  font-size: 20px;
}