.logout_modal_wrap{
  width: 100%;
  /* height: 50vh; */
	display: flex;
	flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.logout_modal_wrap .logout_modal_content{
  width: 100%;
  text-align: center;
  padding: 0 4vw;
}
.logout_modal_wrap .ok{
	width: 40px;
	height: 40px;
	font-size: 30px;
	margin: 20px 20px 0 0;
}
.sign_out_modalBox{
    position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	min-height: 30%;
	height: 30%;
	width: 30%;
	background-color: white;
	border-radius: 10px;
	z-index: 100;
}
.logoutMsg{
    margin: auto;
    width: 100%;
    padding: 5%;
    justify-content: center;
    align-items: center;
}

.logoutMsg h3{
    font-size: x-large;
    border-bottom: 2px solid #000;
    margin-bottom: 40px;
}
.todayMsg{
    text-align: center;
}
.todayMsg p{
    font-size: 34px;
    margin-bottom: 50px;
}

.logoutBtnContainer{
    text-align: center;
}
.logoutModalBtn{
    width: 68px;
    height: 50px;
    font-size: 16px;   
    border-radius: 10px; 
}
.logoutModalBtn:hover{
    background-color: rgb(132, 206, 235);
	color: #000;
}
.logoutModalBtn:active{
    background-color: rgb(243, 171, 89);
	color: #000
}