.nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .logo{
  width: 120px;
  height: 100px;
}
.nav .logo img{
  position: relative;
  top: 12px;
  width: 125%;
  height: 70%;
}

.login_menu{
  text-align: center;
  display: flex;
  width: 300px;
}

.menu{
  position: relative;
  top: 3px;
  height: 32px;
  width: 100px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
}
.menu > a {
  text-align: center;
  padding: 7px;
  font-size: 16px;
  border-radius: 10px;
}
.menu >a:hover{
  cursor: pointer;
  color: white;
  background-color: #000;
}
.nav_btn_container{
  width: 120px;
}


.nav_btn{
  border: none;
  background-color: white;
  height: 32px;
  width: 64px;
  font-size: 16px;
  border-radius: 10px;
}
/* .nav_btn::after{
  padding-left: 10px;
  content: "|";
}
button:last-child::after{
  content: "";
} */
.nav_btn:hover{
  cursor: pointer;
  color: white;
  background-color: #000;
}